* {
    margin: 1;
    padding: 2;
}

.box-1 {
    width: 305px;
    height: 305px;
    text-align: center;
    align-content: center;
}

.box-2 {
    width: 305px;
    height: 305px;
    text-align: center;
    align-content: center;
}

.box-3 {
    width: 305px;
    height: 305px;
    text-align: center;
    align-content: center;
}

.box-4 {
    width: 305px;
    height: 305px;
    text-align: center;
    align-content: center;
}

.button 
    {width: 106px;
    height: 24px;
    }